body {
  font-family: Muli,arial,sans-serif;
  font-size: 48px;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: local("Muli Regular"), local("Muli-Regular"), url("./assets/fonts/Muli-Regular.woff2") format("woff2");
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
  font-display: swap;
}

.app {
  text-align: center;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  background: lightslategrey;
  color: white;

  h3 {
    margin: 0;
  }
}

main {
  margin-top: 1rem;
}
